PORT=4000
FIREBASE_STORAGE_BUCKET=mvmods-1ab81.firebasestorage.app
# Caminho absoluto para o seu service account (gerado nas configurações do Firebase > Contas de Serviço)
# FIREBASE_SERVICE_ACCOUNT_PATH=./src/config/serviceAccountKey.json
